@media (max-width: 320px) {
  @import url(http://fonts.googleapis.com/css?family=Roboto);

  @import url(http://fonts.googleapis.com/css?family=Source+Sans+Pro);

  body {
    background: url("../img/concrete_seamless.png");
    font-family: 'Roboto', sans-serif;
    font-size: 120%;
    color: #222;
    margin: 1em;
  }

  #container {
    margin: 0 auto;
    width: 250px;
    padding: 5px;
  }

  h1 {
    margin-top: 0;
    font-weight: 900;
    background: blue;
    padding: 0.2em;
    text-align: center;
    color: white;
  }

  aside {
    border: 0.5px solid blue;
    background: white;
    float: center;
    padding: 2.5px;
  }

  a {
    color: blue;
    text-decoration: none;
  }

  h2 ,h3, h4 {
    font-family: 'Source Sans Pro', sans-serif;
  }

  p {
    margin: 0;
  }

  h3 {
    margin: 0;
  }

  h4 {
    margin: 0;
  }

  li {
    margin: 0;
  }

  h4 + ul {
    margin-top: 0;
  }

  h3 + ul {
    margin-top: 0;
  }

  img {
    background: rgba(255,255,255,0.75);
    border: 0.5px solid #ccc;
    padding: 5px;
    width: 100%;
  }

  img + ul {
    margin-top: 0;
  }

  p + ul {
    margin-top: 0;
  }

}
